* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html,
body {
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
}

/* Default form elements style */

/* Container */
.form-container {
    min-width: 400px;
    max-width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    > hr {
        margin: 10px 0;
    }
}

/* Form elements container */
form>div {
    margin: 15px 0;
}

/* Form title */
.form-title {
    text-align: center;
    font-size: 20px;
}

form {
    /* Input */
    & input[type='text'],
    & input[type='email'],
    & input[type='password'],
    & input[type='date'],
    & textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        transition: border-color 0.3s ease;
    }

    & input:focus,
    & textarea:focus {
        outline: none;
        border-color: #807e7b;
    }

    /* Label */
    & label {
        display: block;
    }

    /* Button */
    & button {
        padding: 10px 20px;
        border: none;
        background-color: #c53434;
        color: #fff;
        border-radius: 7px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }

    & button:hover {
        background-color: #7d2020;
    }

    & button:disabled {
        background-color: rgb(109, 109, 109);
        cursor: default;
    }

    & .cancel-button {
        background-color: #737373;
    }

    & .cancel-button:hover {
        background-color: #4a4a4a;
    }
}

.cancel-btn {
    background-color: rgb(109, 109, 109);
}

.cancel-btn:hover {
        background-color: rgb(71, 71, 71);
    }

.button-center {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* Error messages */
.field-error {
    color: #ff0000;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-error {
    color: #ff0000;
    /* font-size: 14px; */
    margin: 5px;
}


.red-btn {
    padding: 5px 10px;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: #e13434;
}

.red-btn:hover {
    background-color: #a62b2b;
}

.red-btn:disabled {
    background-color: rgb(109, 109, 109);
    cursor: default;
}