:host {
    display: block;
    padding-top: 15px;
    
    > div > div:first-child {
        display: flex;
        justify-content: space-between;
    }
}

.red-btn {
    padding: 5px 10px;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: #e13434;
}

.red-btn:hover {
    background-color: #a62b2b;
}

.red-btn:disabled {
    background-color: rgb(109, 109, 109);
    cursor: default;
}