h2 {
    text-align: center;
    margin: 10px;
    text-decoration: underline;
}

div {
    margin: 20px 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px;
    
    > * {
        flex: 1;
    }
}