<div *ngIf="mediaDetail" class="media-detail-container">
  <h2>{{ mediaDetail.title }}</h2>
  <p>Type: {{ mediaDetail.type | mediaType }}</p>
  <p>Synoposis: {{ mediaDetail.plot }}</p>
  <p>Date de réalisation: {{ mediaDetail.releaseYear }}</p>
  <p>Durée: {{ mediaDetail.duration }} minutes</p>
  <div *ngIf="mediaDetail.seasons">
    <p>Saisons: {{ mediaDetail.seasons }}</p>
    <p>{{ mediaDetail.inProduction ? 'En cours de production' : 'Production terminée' }}</p>
  </div>
  <p>Note : {{ (mediaDetail.avgRating | number: '1.1-1') ?? "-" }}/5</p>
  <p>Genres: {{ mediaDetail.genres.join(', ') }}</p>

  <div *ngIf="mediaDetail.actors.length > 0">
    <h3>Acteurs principaux :</h3>
    <app-professional-list [professionals]="mediaDetail.actors"></app-professional-list>
  </div>

  <div *ngIf="mediaDetail.directors.length > 0">
    <h3>Réalisateur<span *ngIf="mediaDetail.directors.length > 1">s</span> :</h3>
    <app-professional-list [professionals]="mediaDetail.directors"></app-professional-list>
  </div>
  
  <div *ngIf="mediaDetail.writers.length > 0">
    <h3>Scénariste<span *ngIf="mediaDetail.writers.length > 1">s</span> :</h3>
    <app-professional-list [professionals]="mediaDetail.writers"></app-professional-list>
  </div>

  <div *ngIf="mediaDetail.producers.length > 0">
    <h3>Producteur<span *ngIf="mediaDetail.producers.length > 1">s</span> :</h3>
    <app-professional-list [professionals]="mediaDetail.producers"></app-professional-list>
  </div>
</div>
