<h3>Modifier votre mot de passe :</h3>
<form>
    <div>
        <label for="old-pw">Ancien mot de passe :</label>
        <input type="password" name="old-pw" id="old-pw">
    </div>
    <div>
        <label for="new-pw">Nouveau mot de passe :</label>
        <input type="password" name="new-pw" id="new-pw">
    </div>
    <div>
        <label for="confirm">Confirmer mot de passe :</label>
        <input type="password" name="confirm" id="confirm">
    </div>
    <div class="form-button">
        <button>Valider</button>
    </div>
</form>